@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

 /* shared styles  */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    font-size: 1.25rem;
    color: white;
    border-radius: 8px;
    border: none;
    
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* dark 02 */

.test-gray{
    color:#424242;
}

/* dark 03 */
.test-light-gray {
    color: #727272;
}
.text-primary{
    color: rgba(255, 144, 14, 1);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
 /* header styles */

 /* navbar related styles */
 .brand-name{
    font-size: 2.8rem;
    font-weight: bold;
 }
 .navbar{
      justify-content: space-between;
      align-items: center;
      
 }
 .nav-item{
    list-style: none;
    margin-right: 40px;
 }
 .nav-link{
    text-decoration: none;
    font-weight: 500;
 }
 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto ;
 }
 /* banner related styles */
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }
 .banner-title{
    font-weight: bold;
    font-size: 4rem;
 }

.banner-description{
    font-weight:400;
    font-size: 1rem;
}
.banner-img{
    width: 100%;
    height: 700px;
   
}
/* teams and features styles */
.teams{
  
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    margin-left: 73px;
    /* width: 540px; */
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.features-description{
    margin-bottom: 32px;
}
#quick-list{
    font-weight: 500;
}

/* features section related style */
#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-card, .feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    
}
.feature-description{
    font-size: 1rem;
    font-weight: 400;
}

.features{
    gap: 140px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
      
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    width: 540px;
    margin-bottom: 60px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
}

  /* sponsor related style */
   .sponsor-info{
        max-width: 540px;
        margin: 50px auto;
        text-align: center;
    }

.sponsor-title{
    font-size: 2.8rem;
    font-weight: bold;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* resonsive media query */
@media screen and (max-width:576px) {
    .navbar, 
    .nab-links,
    .teams,
    .facts-container{
        flex-direction: column;
    }
    .teams-image-container, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }

    .features{
        margin:10px;
        text-align: center;
    }
    .facts-container{
        justify-items: center;
        gap: 30px;
    }
    .fact-description{
        width: 100%;
        
    }
.sponsor-companies{
    justify-items: center;
    gap: 50px;
}


   
}
/* medium size device */
@media screen and (min-width:576px) and (max-width:990px) {
    .teams{
        flex-direction: column;
        text-align: center;
    }
    .navbar{
        margin-left: 20px;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        justify-items: center;
        
    }
    .some-facts{
        text-align: center;
    }
    .fact-description{
       margin-left: 140px;
    }
    .sponsor-companies {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 40px;
    }
}